body {
    background-color: #8860D0 !important;
}

.column {
    background-color: #5AB9EA;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 7px 0 !important;
}

.column h5 {
    padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.card {
    background-color: #C1C8E4;
    clear: both;
    float: none;
    display: block;
    padding: 0 5px;
    text-decoration: none !important;
    box-shadow: 1px 1px #5680E9;
}

.card-detail-modal {
    position: absolute !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #C1C8E4;
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
}

.card-detail-modal .content hr {
    clear: both;
    margin: 10px -15px;
}

.card-detail-modal .content .header h5 {
    float: left;
    font-weight: bold;
}

.card-detail-modal .content .header .list {
    font-size: 12px;
    font-weight: normal;
}

.card-detail-modal .content .header button {
    float: right;
}

.card-detail-modal .content .body {
    clear: both;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.add-a-card {
    display: block;
    margin: 0 -7px;
    border-radius: 0 0 5px 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.add-a-card:hover {
    background-color: #84CEEB

}

.labels {
    margin-top: -5px;
}

.labels span {
    width: 30px;
    height: 5px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 4px;
}

.page-header {
  height: 40px;
  width: 100%;
  background-color: #373a3c;
  margin: 0 !important;
  color: #e5e5e5;
  text-align: center;
  line-height: 40px;
  font-size: 34px;
  font-family: cursive;
  font-style: oblique;
}

.page-container {
  padding: 10px;
  margin: 0 !important;
}
